html {
	font-family: sans-serif;
}

#canvas {
	width: 100%;
	height: 90vh;
}

.loginPrompt {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -150px;
	box-sizing: border-box;
	width: 300px;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
}

.loginPrompt input {
	display: block;
	width: 100%;
	margin: 10px 0px;
}

.loginPrompt button {
	display: block;
	margin: 0px auto;
}