body {
	margin: 0 0;
	background-color: #111;
}

.container {
	position: absolute;
	top: 50vh;
	display: block;
	width: 100%;
	margin: 0 auto;
}

#canvas {
	display: block;
	margin: 0 auto;
	margin-top: -300px;
}